<?xml version="1.0" encoding="utf-8" ?>

<rabbitConfigurationSection>
  <connections
       hostname="localhost"
       username="guest"
       password="guest"
       heartbeattimeout="10"
       handshaketimeout="2"
       networkrecoveryinterval="2">
    <queues>
      <queue key="filemessageendpoint" value="search.file.queue"/>
      <queue key="jobcompleteendpoint" value="search.job.complete"/>
      <queue key="jobexecuteendpoint" value="search.job.execute"/>
      <queue key="jobmessageendpoint" value="search.job.queue"/>
      <queue key="newinstatusendpoint" value="search.newin.queue"/>
      <queue key="pricestatusendpoint" value="search.price.queue"/>
      <queue key="publishedxmlendpoint" value="search.styles.queue"/>
      <queue key="refreshcompleteendpoint" value="search.refresh.complete.queue"/>
      <queue key="refreshrequestendpoint" value="search.refresh.queue"/>
      <queue key="stockstatusendpoint" value="search.stock.queue"/>
      <queue key="styleitemclassificationendpoint" value="search.styleitemclassification"/>
    </queues>
  </connections>
</rabbitConfigurationSection>